<style>body{font-family: Segoe UI; font-size:15}
.product{color:#800000; font-family: Tahoma; font-weight:bold;}
</style>
<p>This sample illustrates preservation of macros in macro-enabled documents (DOCM and DOTM) using Essential DocIO.</p>
<p><b>Note:</b> Currently DocIO doesn’t provide support for creation of Macros</p>
<p>Below is the illustration of the output of Macro-enabled document.</p>

<p><div align = "Center"><img src="images/sample.png" alt="DocIO" title="" /></div></p>
<h3><strong>Features :</strong></h3>
<ul>
 <li>Support to preserve the macros present in the input macro-enabled document to the generated macro-enabled document(DOCM and DOTM).</li>
</ul>