<style>body{font-family: Segoe UI; font-size:15}
.product{color:#800000; font-family: Tahoma; font-weight:bold;}
</style>
<p>This section contains samples that illustrate various settings options of a Word document.</p>
<ul>
<li><b>Document Settings-</b>This sample demonstrates Essential DocIO's support for applying various document settings, such as document properties, print settings, and page setup options.</li>
<li><b>Macro Preservation-</b>This sample demonstrates Essential DocIO's support for preservation of macro-enabled documents.(Docm and Dotm)</li>
</ul>